body {
  margin: 0;
  padding: 0;
  position: relative;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form {
  width:80%;
  max-width: 400px;
}

.form input {
  padding: 0.6rem 0.5rem
}
#inpTitle {
  margin: 1rem 0;
}

.form button {
  width: 100px;
  align-self: center;
}

.Box {
  max-width: 70%;
  margin: 0 auto;
}
